footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--card-background);
    color: var(--text-secondary);
    gap: 8px;
    padding: 8px;
}

p {
    margin: 0;
    font-size: 12px;
}

a {
    color: var(--text-secondary);
}

img {
    width: 70px;
    padding: 12px 8px;
}

.flex-container {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1600px) {

    p {
        margin: 0;
        font-size: 14px;
    }

    img {
        width: 80px;
        padding: 14px 10px;
    }

    footer {
        padding-bottom: 18px;
    }
}

@media screen and (min-width: 2560px) {

    p {
        margin: 0;
        font-size: 16px;
    }

    img {
        width: 90px;
        padding: 16px 12px;
    }

    footer {
        padding-bottom: 24px;
    }
}