<footer>
    <div class="flex-container">
        <p>Data provided by</p>
        <a href="https://www.spotify.com" class="flex-container">
            <img src="assets/img/Spotify_Logo_RGB_White.png" alt="Spotify's brand logo">
        </a>
    </div>
    <p>Made by <a href="https://github.com/and1mon" target="_blank" rel="noopener noreferrer">And1mon</a></p>
    <p class="disclaimer">DISCLAIMER: THIS PAGE WAS MADE AS A PERSONAL EDUCATIONAL PROJECT. <br> This is NOT the
        official
        site of
        the company or
        brand identified on the page. The creator of this page is NOT affiliated with the company or brand in any way.
        This page is a personal project made in connection with an educational exercise.</p>
</footer>