<main>
    <h1>Personal Dashboard</h1>
    <div id="mainSection">
        <section>
            <div class="headline-container">
                <h2>Your monthly top artists</h2>
                <a [routerLink]="['../top/artists']" [queryParams]="{timeRange: 'short_term'}">View all</a>
            </div>
            <app-artists [amount]="10" [displayType]="'scrollRow'"></app-artists>
        </section>
        <section>
            <div class="headline-container">
                <h2>Your monthly top tracks</h2>
                <a [routerLink]="['../top/tracks']" [queryParams]="{timeRange: 'short_term'}">View all</a>
            </div>
            <app-tracks [amount]="10" [columnView]="true"></app-tracks>
        </section>
        <section>
            <div class="headline-container">
                <h2>Playback History</h2>
                <a [routerLink]="['../history']" [queryParams]="['../history']">View all</a>
            </div>
            <app-history [amount]="10" [columnView]="true"></app-history>
        </section>
    </div>
</main>