header {
    background-color: #000000FF;
    position: relative;
}

.logout {
    padding: 10px;
    background-color: rgb(44, 44, 46);
    color: #e6e6e6;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--text-main);
}

.logout:hover {
    background-color: rgb(138, 0, 0);
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: black;
    margin: 0;
    padding: 0;
    transition: 0.4s;
}

nav a {
    font-size: 16px;
    text-align: center;
    padding: 10px;
    border: 1px solid transparent;
}

nav a:hover {
    color: var(--accent-color);
}

.toggle-navbar {
    appearance: none;
    border: none;
    background: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 100;
}

.icon-left,
.icon-right,
.icon-left:before,
.icon-right:before,
.icon-left:after,
.icon-right:after {
    transition-property: all;
    transition-duration: 0.4s;
    position: absolute;
    height: 5px;
    width: 15px;
    background-color: var(--text-main);
}

.icon-left {
    top: auto;
    bottom: auto;
    right: 35px;
}

.icon-left:before,
.icon-right:before {
    content: "";
    top: -10px;
    left: 0;
}

.icon-left:after,
.icon-right:after {
    content: "";
    top: 10px;
    left: 0;
}

.icon-right {
    top: auto;
    right: 20px;
}

.toggle-navbar.is-active .icon-left,
.toggle-navbar.is-active .icon-right {
    background: transparent;
}

.toggle-navbar.is-active .icon-left:before {
    transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
}

.toggle-navbar.is-active .icon-right:before {
    transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
}

.toggle-navbar.is-active .icon-left:after {
    transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
}

.toggle-navbar.is-active .icon-right:after {
    transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
}


.toggle-navbar.is-active~nav {
    right: 0;
}

.active_route {
    color: var(--accent-color) !important;
    border-bottom: 1px solid var(--accent-color) !important;
}

#app-title {
    font-weight: 500;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
    height: 60px;
}

#disclaimer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent-color);
    width: 100%;
    color: black;
    text-align: center;
}

#disclaimer p {
    font-weight: 700;
}

#disclaimer a {
    color: black;
}

#disclaimer button {
    border: none;
    border-radius: 4px;
    background-color: rgb(44, 44, 46);
    color: #e6e6e6;
    padding: 1rem;
    font-size: 1rem;
}

#disclaimer-btns {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-bottom: 0.5rem;
}

#disclaimer button:hover {
    background-color: rgba(44, 44, 46, 0.808);
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    nav {
        position: relative;
        left: 0;
        display: flex;
        flex-direction: row;
        height: auto;
        width: auto;
        list-style: none;
        justify-content: flex-end;
        align-items: center;
        transition: 0s;
    }

    .logout {
        margin-left: 24px;
    }

    .toggle-navbar {
        display: none;
    }
}

@media screen and (min-width: 1600px) {

    .logout {
        padding: 16px;
        border-radius: 4px;
        font-size: 20px;
    }

    nav a {
        font-size: 20px;
        padding: 16px;
    }

    #app-title {
        font-size: 20px;
    }

    #header-container {
        height: 70px;
    }

    #disclaimer {
        flex-direction: row;
        gap: 1rem;
    }

    #disclaimer-btns {
        padding-bottom: 0;
    }
}

@media screen and (min-width: 2560px) {

    .logout {
        padding: 16px;
        border-radius: 4px;
        font-size: 24px;
    }

    nav a {
        font-size: 24px;
        padding: 16px;
    }

    #app-title {
        font-size: 24px;
    }
}