<header>
    <div id="header-container">
        <a id="app-title" routerLink="/home">UserDash - Spotify Dashboard</a>
        <button class="toggle-navbar" [ngClass]="isOpen() ? 'is-active': '' " *ngIf="isLoggedIn"
            (click)="toggleNavbar()">
            <div class="icon-left">
            </div>
            <div class="icon-right"></div>
        </button>
        <nav *ngIf="isLoggedIn">
            <a routerLink="/home" routerLinkActive="active_route" (click)="closeNavbar()">Home</a>
            <a routerLink="/top" [queryParams]="{timeRange: 'short_term'}" routerLinkActive="active_route"
                [routerLinkActiveOptions]="{
                fragment: 'ignored',
                matrixParams: 'ignored',
                paths: 'subset',
                queryParams: 'ignored'
            }" (click)="closeNavbar()">Top</a>
            <a routerLink="/history" routerLinkActive="active_route" (click)="closeNavbar()">History</a>
            <button (click)="logout()" *ngIf="isLoggedIn" class="logout">Logout</button>
        </nav>
    </div>
</header>
<div id="disclaimer" *ngIf="!isBannerClosed">
    <p>DISCLAIMER: This page was made as a personal educational project.</p>
    <div id="disclaimer-btns">
        <a routerLink="about" (click)="closeBanner()">
            Read more
        </a>
        <button (click)="closeBanner()">Dismiss</button>
    </div>
</div>