/* You can add global styles to this file, and also import other style files */


body {
    margin: 0;
    background-color: #1C1C1EFF;
    color: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
}