/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins/Poppins-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins/Poppins-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins/Poppins-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

body {
    margin: 0;
    background-color: #131313;
    color: #f5f5f5;
    font-family: Poppins, Arial, sans-serif;
}

:root {
    --text-main: #fff;
    --text-secondary: #d3d3d3;
    --background-color: #e5e5e5;
    --card-background: #262626;
    --contrast-color: black;
    --accent-color: greenyellow;

    color-scheme: light;
}